body {
  background-color: #5e798707;
}
.container {
  font-family: sans-serif;
  text-align: center;
  font-size: 2em;
  font-weight: bold;
}

button {
  font-size: 1.5rem;
  padding: 10px 15px;
  border-radius: 10px;
  border: none;
  background-color: hsl(210, 100%, 55%);
  color: white;
  font-weight: bold;
  cursor: pointer;
}

button:hover {
  background-color: hsl(210, 100%, 50%);
}

button:active {
  background-color: hsl(355, 100%, 50%);
}

input {
  font-size: 2rem;
  width: 150px;
  text-align: center;
  font-weight: bold;
}

#dice-result {
  margin: 25px;
}

#dice-images img {
  margin: 5px;
}
